# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data
# Raw eBird data directory (very large)
ebird_raw_data/

# Large processed data files (>25MB)
data/raw/bogota_pollution_hourly.csv

# Large Bayesian sampling artifacts
*.nc
*.pkl

# Plots and EDA results
# Optional: keep them if you want your teammates to see them
# eda_copeton/plots/
# eda/plots/

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.toc
*.out
